<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.worldtrack.wialonconnection">

    <application android:allowBackup="true" android:label="@string/app_name">
        <service android:name="com.worldtrack.wialonconnection.WialonRequestService"/>
    </application>
</manifest>
